In [2]:
import pandas as pd
import numpy as np

In [ ]:
from pyunpack import Archive

In [7]:
import os 
os.getcwd()

'C:\\Users\\ramin'

In [3]:
%cd C:\\Users\\ramin

C:\Users\ramin

In [87]:
%cd C:\\Users\\ramin\\desktop\\flights data\\on time performance\\1990

C:\Users\ramin\desktop\flights data\on time performance\1990

In [88]:
os.getcwd()

'C:\\Users\\ramin\\desktop\\flights data\\on time performance\\1990'

In [11]:
#pip install patool

Collecting patool
  Downloading patool-1.12-py2.py3-none-any.whl (77 kB)
Installing collected packages: patool
Successfully installed patool-1.12
Note: you may need to restart the kernel to use updated packages.

In [12]:
#pip install pyunpack

Collecting pyunpack
  Downloading pyunpack-0.2.2-py2.py3-none-any.whl (3.8 kB)
Collecting entrypoint2
  Downloading entrypoint2-0.2.3-py2.py3-none-any.whl (8.7 kB)
Collecting easyprocess
  Downloading EasyProcess-0.3-py2.py3-none-any.whl (7.9 kB)
Collecting argparse
  Downloading argparse-1.4.0-py2.py3-none-any.whl (23 kB)
Installing collected packages: argparse, entrypoint2, easyprocess, pyunpack
Successfully installed argparse-1.4.0 easyprocess-0.3 entrypoint2-0.2.3 pyunpack-0.2.2
Note: you may need to restart the kernel to use updated packages.

In [36]:
Archive("2.zip").extractall("2")

In [89]:
for i in range(12):
    Archive(str(i+1)+".zip").extractall(str(i+1))

In [160]:
a = pd.read_csv('https://www.ncei.noaa.gov/data/coop-hourly-precipitation/v2/access/CQC00914080.csv')

C:\Users\ramin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,104,109,114,119,124) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [268]:
a

,STATION,LATITUDE,LONGITUDE,ELEVATION,ELEMENT,HR00Val,HR00MF,HR00QF,HR00S1,HR00S2,...,HR23Val,HR23MF,HR23QF,HR23S1,HR23S2,DlySum,DlySumMF,DlySumQF,DlySumS1,DlySumS2
DATE,,,,,,,,,,,,,,,,,,,,,
1948-06-01,USC00010008,31.5702,-85.2482,139.0,HPCP,0,g,,4,,...,-9999,,M,4,,0,,P,,C
1948-06-02,USC00010008,31.5702,-85.2482,139.0,HPCP,0,Z,,4,,...,0,Z,,4,,0,,,,C
1948-06-03,USC00010008,31.5702,-85.2482,139.0,HPCP,0,Z,,4,,...,0,Z,,4,,0,,,,C
1948-06-04,USC00010008,31.5702,-85.2482,139.0,HPCP,0,Z,,4,,...,0,Z,,4,,0,,,,C
1948-06-05,USC00010008,31.5702,-85.2482,139.0,HPCP,0,Z,,4,,...,0,Z,,4,,0,,,,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-14,USC00010008,31.5702,-85.2482,139.0,HPCP,0,,,H,C,...,0,,,H,C,0,,,,C
2018-04-15,USC00010008,31.5702,-85.2482,139.0,HPCP,0,,,H,C,...,0,,,H,C,194,,,,C
2018-04-16,USC00010008,31.5702,-85.2482,139.0,HPCP,0,,,H,C,...,0,,,H,C,0,,,,C
2018-04-17,USC00010008,31.5702,-85.2482,139.0,HPCP,0,,,H,C,...,0,,,H,C,0,,,,C
2018-04-18,USC00010008,31.5702,-85.2482,139.0,HPCP,0,,,H,C,...,-9999,,,H,,0,,P,,C

In [220]:
test=pd.read_csv('desktop/test.csv')

In [295]:
final=pd.DataFrame()
for x in test['StnID']:
    try:
        a=pd.read_csv('https://www.ncei.noaa.gov/data/coop-hourly-precipitation/v2/access/'+x+'.csv', index_col='DATE',parse_dates=True, na_values=' ',low_memory=False, usecols=[0,4,126])
        a['DlySum'] = pd.to_numeric(a['DlySum'], downcast='float')
        monthly=a.resample('M').mean()
        monthly=monthly.loc['1990-1':'2020-12']
        A=pd.DataFrame(columns=['name'])
        A['average precipitation']=monthly['DlySum']
        A['name']=x
        A=A.reset_index()
        A=A[['name', 'DATE','average precipitation']]
        final=pd.concat([final,A], ignore_index=True)
    except:
        pass

In [297]:
station=pd.read_csv('desktop/station.csv')

In [ ]:
#final=pd.DataFrame()

In [325]:
station6=station.iloc[1500:2000]

In [326]:
for x in station6['StnID']:
    try:
        a=pd.read_csv('https://www.ncei.noaa.gov/data/coop-hourly-precipitation/v2/access/'+x+'.csv', index_col='DATE',parse_dates=True, na_values=' ',low_memory=False, usecols=[0,4,126])
        a['DlySum'] = pd.to_numeric(a['DlySum'], downcast='float')
        monthly=a.resample('M').mean()
        monthly=monthly.loc['1990-1':'2020-12']
        A=pd.DataFrame(columns=['name'])
        A['average precipitation']=monthly['DlySum']
        A['name']=x
        A=A.reset_index()
        A=A[['name', 'DATE','average precipitation']]
        final=pd.concat([final,A], ignore_index=True)
    except:
        pass

In [17]:
final.to_csv('F:Final.csv')

In [327]:
final

               name       DATE  average precipitation
0       USC00010008 1990-01-31              19.677420
1       USC00010008 1990-02-28              14.285714
2       USC00010008 1990-03-31              21.290323
3       USC00010008 1990-04-30               5.666667
4       USC00010008 1990-05-31              11.290322
...             ...        ...                    ...
650418  AQC00914902 2020-08-31              67.285713
650419  AQC00914902 2020-09-30              81.500000
650420  AQC00914902 2020-10-31              51.700001
650421  AQC00914902 2020-11-30              88.047623
650422  AQC00914902 2020-12-31              57.233334

[650423 rows x 3 columns]

In [3]:
station=pd.read_csv('desktop/precipitation data/stations.csv')

In [4]:
final=pd.read_csv('desktop/precipitation data/final/Final.csv')

In [7]:
final['name']=np.nan

In [13]:
final['state']=np.nan

In [15]:
for index, x in enumerate(final['ID']):
    for index2,y in enumerate(station['StnID']):
        if y==x:
            final['name'].iloc[index]=station['Name'].iloc[index2]
            final['state'].iloc[index]=station['State/Province'].iloc[index2]
            break

C:\Users\ramin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [23]:
#a=pd.read_csv('desktop/flights data/on time performance/2014/1/1040839420_T_ONTIME_REPORTING.csv',usecols=[3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28], na_values=' ', index_col='FL_DATE', parse_dates=True)

In [76]:
a=pd.read_csv('desktop/flights data/on time performance/2014/1/1040839420_T_ONTIME_REPORTING.csv', na_values=' ')

In [77]:
b=a.columns

In [134]:
A=pd.DataFrame(columns=b)

In [125]:
origin=a['ORIGIN'].unique()

In [126]:
for x in origin:
    xorigin=[]
    xdest=[]
    for index, y in enumerate(a['DEST']):
        if a['ORIGIN'].iloc[index]==x:
            if y not in xdest:
                xdest.append(y)
                xorigin.append(x)
    dict={'ORIGIN':xorigin, 'DEST':xdest} 
    A = A.append(pd.DataFrame(dict), ignore_index=True)

In [3]:
route=pd.read_csv('desktop/flights data/on time performance/route.csv')

In [242]:
list=pd.read_csv('desktop/flights data/on time performance/list.csv')

In [210]:
list['CODE']

0      ABE
1      ABI
2      ABQ
3      ABR
4      ABY
      ...
317    WRG
318    WYS
319    XNA
320    YAK
321    YUM
Name: CODE, Length: 322, dtype: object

In [136]:
A['ORIGIN']=route['code']

In [243]:
A=pd.DataFrame(columns=b)

In [411]:
A

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaN,NaN,ABE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,ABE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,ABE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,ABE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,ABE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103357,NaN,NaN,NaN,NaN,NaN,NaN,YUM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103358,NaN,NaN,NaN,NaN,NaN,NaN,YUM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103359,NaN,NaN,NaN,NaN,NaN,NaN,YUM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103360,NaN,NaN,NaN,NaN,NaN,NaN,YUM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103361,NaN,NaN,NaN,NaN,NaN,NaN,YUM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
for i in range(322):
    list['CODE']=route['CODE']
    list2=list['CODE']
    orilist=np.repeat(list2[i],321)
    del list2[i]
    dict={'ORIGIN':orilist, 'DEST':list2} 
    A= A.append(pd.DataFrame(dict), ignore_index=True)

In [60]:
uniflight=pd.DataFrame(columns=(['ORIGIN', 'DEST']))

In [61]:
uniflight['ORIGIN']=flight['ORIGIN']
uniflight['DEST']=flight['DEST']

In [63]:
uni=uniflight.duplicated(['ORIGIN', 'DEST'])
for i in range(583985):
    if uni.iloc[i]==True:
        uniflight=uniflight.drop([i])

# Getting cancellation monthly numbers

### I used jan 2019 to get the routes and then I removed routes that had less than 177 flights in jan2019 (they had almost the same number of flights next month). They are 1000 routes with highest number of flights in jan2019.
limitation: some of the routes might have higher number of flights in other years or months. Besides, we might have other routes in other years that we did not have in jan2019, so they are not in the uniflight.

In [3]:
monthly=pd.read_csv('desktop/flights data/on time performance/monthly.csv')

uniflight is the list of routes that we had in jan 2019

In [7]:
uniflight=pd.read_csv('desktop/flights data/on time performance/uniflight.main.csv')

In [10]:
uniflight

     ORIGIN DEST  month1  month2
3       CVG  ORD     433     404
4       GNV  ATL     193     176
5       ORD  CVG     437     405
6       ATL  CHA     271     252
8       CHA  ATL     271     252
...     ...  ...     ...     ...
5180    DFW  MAF     202     194
5181    MAF  DFW     201     194
5198    DFW  LBB     187     179
5199    LBB  DFW     186     179
5419    TPA  MIA     210     189

[1000 rows x 4 columns]

In [9]:
uniflight=uniflight[uniflight['month1']>=177]

In [6]:
a=pd.read_csv('desktop/flights data/on time performance/2014/1/1040839420_T_ONTIME_REPORTING.csv', na_values=' ')

In [7]:
col=a.columns
col

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'FL_DATE', 'OP_UNIQUE_CARRIER',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_NM',
       'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_NM',
       'DEP_TIME', 'DEP_DELAY', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED',
       'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 29'],
      dtype='object')

In [8]:
initial=pd.DataFrame(columns=col)
initial['ORIGIN']=uniflight['ORIGIN']
initial['DEST']=uniflight['DEST']

In [9]:
initial['number_of_flights']=np.nan
initial

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights
3,NaN,NaN,NaN,NaN,NaN,NaN,CVG,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,GNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,ORD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,ATL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,CHA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5180,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5181,NaN,NaN,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5198,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5199,NaN,NaN,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5419,NaN,NaN,NaN,NaN,NaN,NaN,TPA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
monthly=monthly.drop('Unnamed: 0', axis=1)

In [133]:
#monthly['number_of_flights']=np.nan

In [177]:
 for n in range(12):   
    flight=pd.read_csv('desktop/flights data/on time performance/2015/2015/'+str(n+1)+'.csv')
    B=initial
    B=B.reset_index()
    B=B.drop('index',axis=1)
    df2 = flight[["YEAR", "MONTH", "DAY_OF_MONTH"]].copy()
    df2.columns = ["year", "month", "day"]
    b=pd.to_datetime(df2)
    flight['FL_DATE']=b
    flight.set_index('FL_DATE')
    flight.index = pd.to_datetime(flight.index)
    for i in range(1000):
        origin=B['ORIGIN'].iloc[i]
        dest=B['DEST'].iloc[i]
        iflight=flight[(flight['ORIGIN']==origin) & (flight['DEST']==dest)]
        irow=iflight.resample('M').mean()
        if irow.empty==False:
            B.iloc[i]=irow.iloc[0]
            B['ORIGIN'].iloc[i]=origin
            B['DEST'].iloc[i]=dest
            B['number_of_flights'].iloc[i]=len(iflight)
    monthly=pd.concat([monthly,B], ignore_index=True)

C:\Users\ramin\anaconda3\envs\py36\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [131]:
monthly.to_csv('desktop/flights data/on time performance/monthly.csv')

In [13]:
from os import listdir

In [14]:
 for n in range(12):   
    files = os.listdir('desktop/flights data/on time performance/2000/'+str(n+1))
    filtered_files = [file_  for file_ in files if file_.endswith('.csv')]
    flight = pd.read_csv('desktop/flights data/on time performance/2000/'+str(n+1)+'/'+filtered_files[0])
    B=initial
    B=B.reset_index()
    B=B.drop('index',axis=1)
    df2 = flight[["YEAR", "MONTH", "DAY_OF_MONTH"]].copy()
    df2.columns = ["year", "month", "day"]
    b=pd.to_datetime(df2)
    flight['FL_DATE']=b
    flight.set_index('FL_DATE')
    flight.index = pd.to_datetime(flight.index)
    for i in range(1000):
        origin=B['ORIGIN'].iloc[i]
        dest=B['DEST'].iloc[i]
        iflight=flight[(flight['ORIGIN']==origin) & (flight['DEST']==dest)]
        irow=iflight.resample('M').mean()
        if irow.empty==False:
            B.iloc[i]=irow.iloc[0]
            B['ORIGIN'].iloc[i]=origin
            B['DEST'].iloc[i]=dest
            B['number_of_flights'].iloc[i]=len(iflight)
    monthly=pd.concat([monthly,B], ignore_index=True)

C:\Users\ramin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

# #load factor

I have used just class F flights since they are the main flights with passengers. The the next step you can add L passengers too.

In [4]:
monthly=pd.read_csv('desktop/flights data/on time performance/monthly.csv')

monthly=monthly.drop("Unnamed: 0", axis=1)

monthly['loadfactor']=np.nan
monthly["PASSENGERS"]=np.nan
monthly["SEATS"]=np.nan

#col=monthly.columns
#final=pd.DataFrame(columns=col)

In [33]:
load=pd.read_csv('desktop/flights data/load factor/2000.csv')
index = load[(load['SEATS']==0) & (load['PASSENGERS']==0)].index
load.drop(index , inplace=True)

index2 = load[load['SEATS']<load['PASSENGERS']].index
load.drop(index2 , inplace=True)

load=load[load['CLASS']=="F"]

In [188]:
#load['CLASS'].unique()

array(['P', 'L', 'F', 'G'], dtype=object)

In [2]:
final=pd.read_csv('desktop/flights data/on time performance/final.csv')

In [34]:
mon19=monthly.iloc[19*12000:19*12000+12000]
for i in range(12):
    moni=mon19.iloc[i*1000:i*1000+1000]
    for n in range(1000):
        loadi=load[(load['ORIGIN']==moni['ORIGIN'].iloc[n]) & (load['DEST']==moni['DEST'].iloc[n]) &(load['MONTH']==i+1)]
        loadfactor=loadi["PASSENGERS"]/loadi["SEATS"]                                                                                   
        moni["loadfactor"].iloc[n]=loadfactor.mean()
        moni["PASSENGERS"].iloc[n]=loadi["PASSENGERS"].mean()
        moni["SEATS"].iloc[n]=loadi["SEATS"].mean()
    final=pd.concat([final,moni], ignore_index=True)

C:\Users\ramin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\ramin\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\ramin\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ramin\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [56]:
1021%1000

21

In [60]:
final=final.drop("Unnamed: 0", axis=1)
final

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
0,2019.0,1.0,16.616628,NaN,NaN,NaN,CVG,NaN,NaN,NaN,...,24.969925,2.451128,41.315789,0.0,25.631579,NaN,433.0,0.645097,1173.142857,1713.142857
1,2019.0,1.0,16.414508,NaN,NaN,NaN,GNV,NaN,NaN,NaN,...,25.142857,0.000000,8.142857,0.0,18.571429,NaN,193.0,0.873619,1986.000000,2378.166667
2,2019.0,1.0,16.631579,NaN,NaN,NaN,ORD,NaN,NaN,NaN,...,7.804688,15.640625,27.968750,0.0,40.828125,NaN,437.0,0.740607,1038.000000,1433.941176
3,2019.0,1.0,16.730627,NaN,NaN,NaN,ATL,NaN,NaN,NaN,...,19.137931,6.172414,9.000000,0.0,14.655172,NaN,271.0,0.792694,3869.500000,4820.750000
4,2019.0,1.0,16.730627,NaN,NaN,NaN,CHA,NaN,NaN,NaN,...,38.789474,19.578947,9.210526,0.0,22.684211,NaN,271.0,0.838213,4077.250000,4819.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.700268,1355.250000,1985.750000
239996,NaN,NaN,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.693281,1340.250000,1985.750000
239997,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.568141,1939.200000,3278.000000
239998,NaN,NaN,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.550595,1908.400000,3313.600000
239999,2000.0,12.0,16.000000,NaN,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,NaN,NaN,NaN,NaN,93.0,0.490670,2169.000000,3881.000000

In [37]:
monthly

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
0,2019.0,1.0,16.616628,NaN,NaN,NaN,CVG,NaN,NaN,NaN,...,24.969925,2.451128,41.315789,0.0,25.631579,NaN,433.0,NaN,NaN,NaN
1,2019.0,1.0,16.414508,NaN,NaN,NaN,GNV,NaN,NaN,NaN,...,25.142857,0.000000,8.142857,0.0,18.571429,NaN,193.0,NaN,NaN,NaN
2,2019.0,1.0,16.631579,NaN,NaN,NaN,ORD,NaN,NaN,NaN,...,7.804688,15.640625,27.968750,0.0,40.828125,NaN,437.0,NaN,NaN,NaN
3,2019.0,1.0,16.730627,NaN,NaN,NaN,ATL,NaN,NaN,NaN,...,19.137931,6.172414,9.000000,0.0,14.655172,NaN,271.0,NaN,NaN,NaN
4,2019.0,1.0,16.730627,NaN,NaN,NaN,CHA,NaN,NaN,NaN,...,38.789474,19.578947,9.210526,0.0,22.684211,NaN,271.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239996,NaN,NaN,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239997,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239998,NaN,NaN,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239999,2000.0,12.0,16.000000,NaN,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN,NaN

In [126]:
final.to_csv('desktop/flights data/on time performance/final.csv')

In [84]:
final

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
0,2019.0,1.0,16.616628,NaN,NaN,NaN,CVG,NaN,NaN,NaN,...,24.969925,2.451128,41.315789,0.0,25.631579,NaN,433.0,0.645097,1173.142857,1713.142857
1,2019.0,1.0,16.414508,NaN,NaN,NaN,GNV,NaN,NaN,NaN,...,25.142857,0.000000,8.142857,0.0,18.571429,NaN,193.0,0.873619,1986.000000,2378.166667
2,2019.0,1.0,16.631579,NaN,NaN,NaN,ORD,NaN,NaN,NaN,...,7.804688,15.640625,27.968750,0.0,40.828125,NaN,437.0,0.740607,1038.000000,1433.941176
3,2019.0,1.0,16.730627,NaN,NaN,NaN,ATL,NaN,NaN,NaN,...,19.137931,6.172414,9.000000,0.0,14.655172,NaN,271.0,0.792694,3869.500000,4820.750000
4,2019.0,1.0,16.730627,NaN,NaN,NaN,CHA,NaN,NaN,NaN,...,38.789474,19.578947,9.210526,0.0,22.684211,NaN,271.0,0.838213,4077.250000,4819.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,2000.0,12.0,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.700268,1355.250000,1985.750000
239996,2000.0,12.0,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.693281,1340.250000,1985.750000
239997,2000.0,12.0,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.568141,1939.200000,3278.000000
239998,2000.0,12.0,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.550595,1908.400000,3313.600000
239999,2000.0,12.0,16.000000,NaN,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,NaN,NaN,NaN,NaN,93.0,0.490670,2169.000000,3881.000000

In [86]:
final[final['YEAR'].isnull()].index

Int64Index([], dtype='int64')

In [61]:
a=final[final['YEAR'].isnull()].index

In [69]:
a

Int64Index([ 24008,  24032,  24037,  24050,  24082,  24576,  24579,  24580,
             24584,  24603,
            ...
            239921, 239924, 239947, 239973, 239990, 239994, 239995, 239996,
            239997, 239998],
           dtype='int64', length=9029)

In [71]:
for index in a:
    if (index+1)%1000==0:
        print(index)

In [63]:
for index in a:
    if index%1000==0:
        final["MONTH"].iloc[index]=final["MONTH"].iloc[index+1]
        final["YEAR"].iloc[index]=final["YEAR"].iloc[index+1]
    else:
        final["MONTH"].iloc[index]=final["MONTH"].iloc[index-1]
        final["YEAR"].iloc[index]=final["YEAR"].iloc[index-1]

C:\Users\ramin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [65]:
monthly[monthly['YEAR'].isnull()].index

Int64Index([ 24008,  24032,  24037,  24050,  24082,  24576,  24579,  24580,
             24584,  24603,
            ...
            239921, 239924, 239947, 239973, 239990, 239994, 239995, 239996,
            239997, 239998],
           dtype='int64', length=9029)

In [82]:
monthly.iloc[239993:240000]

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
239993,2000.0,12.0,16.030303,NaN,NaN,13303.0,MIA,NaN,NaN,11057.0,...,NaN,NaN,NaN,NaN,NaN,NaN,165.0,NaN,NaN,NaN
239994,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239995,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239996,NaN,NaN,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239997,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239998,NaN,NaN,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239999,2000.0,12.0,16.000000,NaN,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN,NaN

In [83]:
final.iloc[239993:240000]

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
239993,2000.0,12.0,16.030303,NaN,NaN,13303.0,MIA,NaN,NaN,11057.0,...,NaN,NaN,NaN,NaN,NaN,NaN,165.0,0.771268,2818.333333,3791.00
239994,2000.0,12.0,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.621116,1300.500000,2545.25
239995,2000.0,12.0,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.700268,1355.250000,1985.75
239996,2000.0,12.0,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.693281,1340.250000,1985.75
239997,2000.0,12.0,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.568141,1939.200000,3278.00
239998,2000.0,12.0,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.550595,1908.400000,3313.60
239999,2000.0,12.0,16.000000,NaN,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,NaN,NaN,NaN,NaN,93.0,0.490670,2169.000000,3881.00

In [41]:
monthly

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
0,2019.0,1.0,16.616628,NaN,NaN,NaN,CVG,NaN,NaN,NaN,...,24.969925,2.451128,41.315789,0.0,25.631579,NaN,433.0,NaN,NaN,NaN
1,2019.0,1.0,16.414508,NaN,NaN,NaN,GNV,NaN,NaN,NaN,...,25.142857,0.000000,8.142857,0.0,18.571429,NaN,193.0,NaN,NaN,NaN
2,2019.0,1.0,16.631579,NaN,NaN,NaN,ORD,NaN,NaN,NaN,...,7.804688,15.640625,27.968750,0.0,40.828125,NaN,437.0,NaN,NaN,NaN
3,2019.0,1.0,16.730627,NaN,NaN,NaN,ATL,NaN,NaN,NaN,...,19.137931,6.172414,9.000000,0.0,14.655172,NaN,271.0,NaN,NaN,NaN
4,2019.0,1.0,16.730627,NaN,NaN,NaN,CHA,NaN,NaN,NaN,...,38.789474,19.578947,9.210526,0.0,22.684211,NaN,271.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239996,NaN,NaN,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239997,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239998,NaN,NaN,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239999,2000.0,12.0,16.000000,NaN,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN,NaN

In [310]:
monthly[monthly["YEAR"]>2016]

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
0,2019.0,1.0,16.616628,NaN,NaN,NaN,CVG,NaN,NaN,NaN,...,24.969925,2.451128,41.315789,0.0,25.631579,NaN,433.0,NaN,NaN,NaN
1,2019.0,1.0,16.414508,NaN,NaN,NaN,GNV,NaN,NaN,NaN,...,25.142857,0.000000,8.142857,0.0,18.571429,NaN,193.0,NaN,NaN,NaN
2,2019.0,1.0,16.631579,NaN,NaN,NaN,ORD,NaN,NaN,NaN,...,7.804688,15.640625,27.968750,0.0,40.828125,NaN,437.0,NaN,NaN,NaN
3,2019.0,1.0,16.730627,NaN,NaN,NaN,ATL,NaN,NaN,NaN,...,19.137931,6.172414,9.000000,0.0,14.655172,NaN,271.0,NaN,NaN,NaN
4,2019.0,1.0,16.730627,NaN,NaN,NaN,CHA,NaN,NaN,NaN,...,38.789474,19.578947,9.210526,0.0,22.684211,NaN,271.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35995,2017.0,12.0,18.479167,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,36.263158,0.000000,19.263158,0.0,21.315789,NaN,48.0,NaN,NaN,NaN
35996,2017.0,12.0,18.479167,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,6.187500,0.000000,4.187500,0.0,77.500000,NaN,48.0,NaN,NaN,NaN
35997,2017.0,12.0,19.661538,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,20.705882,0.000000,6.176471,0.0,32.294118,NaN,65.0,NaN,NaN,NaN
35998,2017.0,12.0,19.661538,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,16.625000,13.687500,7.625000,0.0,33.687500,NaN,65.0,NaN,NaN,NaN
35999,2017.0,12.0,16.000000,NaN,NaN,NaN,TPA,NaN,NaN,NaN,...,40.130435,0.000000,4.869565,0.0,55.608696,NaN,181.0,NaN,NaN,NaN

In [365]:
x=load[(load['ORIGIN']=="LGA") & (load['DEST']=="CVG")&(load['MONTH']==1)]

In [366]:
k=x["PASSENGERS"]/x["SEATS"]
k.mean()

0.4368870372832612

In [347]:
x["PASSENGERS"].mean()

1540.875

In [348]:
x["SEATS"].mean()

2041.5

In [344]:
final.iloc[30000]

YEAR                       2017
MONTH                         7
DAY_OF_MONTH              17.09
FL_DATE                     NaN
OP_UNIQUE_CARRIER           NaN
ORIGIN_AIRPORT_ID           NaN
ORIGIN                      CVG
ORIGIN_CITY_NAME            NaN
ORIGIN_STATE_NM             NaN
DEST_AIRPORT_ID             NaN
DEST                        ORD
DEST_CITY_NAME              NaN
DEST_STATE_NM               NaN
DEP_TIME                1328.36
DEP_DELAY               39.1753
ARR_TIME                1370.09
ARR_DELAY               37.2396
CANCELLED                  0.03
CANCELLATION_CODE           NaN
DIVERTED                   0.01
CRS_ELAPSED_TIME          84.79
ACTUAL_ELAPSED_TIME     83.5625
AIR_TIME                52.0625
DISTANCE                    264
CARRIER_DELAY               105
WEATHER_DELAY           38.2381
NAS_DELAY               57.7619
SECURITY_DELAY                0
LATE_AIRCRAFT_DELAY      9.7619
Unnamed: 29                 NaN
number_of_flights           100
loadfactor             0.745763
PASSENGERS              1540.88
SEATS                    2041.5
Name: 30000, dtype: object

In [367]:
flight=pd.read_csv('desktop/flights data/on time performance/2017/2017/1.csv')

In [370]:
flight[(flight['ORIGIN']=="LGA") & (flight['DEST']=="CVG")]

Empty DataFrame
Columns: [YEAR, MONTH, DAY_OF_MONTH, DAY_OF_WEEK, OP_UNIQUE_CARRIER, TAIL_NUM, OP_CARRIER_FL_NUM, ORIGIN, DEST, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, TAXI_OUT, WHEELS_OFF, WHEELS_ON, TAXI_IN, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, CANCELLED, DIVERTED, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, AIR_TIME, DISTANCE, CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY, Unnamed: 30]
Index: []

[0 rows x 31 columns]

In [88]:
monthly

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
0,2019.0,1.0,16.616628,NaN,NaN,NaN,CVG,NaN,NaN,NaN,...,24.969925,2.451128,41.315789,0.0,25.631579,NaN,433.0,NaN,NaN,NaN
1,2019.0,1.0,16.414508,NaN,NaN,NaN,GNV,NaN,NaN,NaN,...,25.142857,0.000000,8.142857,0.0,18.571429,NaN,193.0,NaN,NaN,NaN
2,2019.0,1.0,16.631579,NaN,NaN,NaN,ORD,NaN,NaN,NaN,...,7.804688,15.640625,27.968750,0.0,40.828125,NaN,437.0,NaN,NaN,NaN
3,2019.0,1.0,16.730627,NaN,NaN,NaN,ATL,NaN,NaN,NaN,...,19.137931,6.172414,9.000000,0.0,14.655172,NaN,271.0,NaN,NaN,NaN
4,2019.0,1.0,16.730627,NaN,NaN,NaN,CHA,NaN,NaN,NaN,...,38.789474,19.578947,9.210526,0.0,22.684211,NaN,271.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239996,NaN,NaN,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239997,NaN,NaN,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239998,NaN,NaN,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239999,2000.0,12.0,16.000000,NaN,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN,NaN

In [106]:
final[final["CANCELLED"].isnull()]

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS
24008,2017.0,1.0,NaN,NaN,NaN,NaN,LGA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.436887,2355.000000,4442.666667
24032,2017.0,1.0,NaN,NaN,NaN,NaN,CLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.662211,1029.500000,1383.500000
24037,2017.0,1.0,NaN,NaN,NaN,NaN,CVG,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.400143,2202.333333,4426.000000
24050,2017.0,1.0,NaN,NaN,NaN,NaN,JFK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.745812,1407.000000,1783.333333
24082,2017.0,1.0,NaN,NaN,NaN,NaN,ORF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.385166,577.000000,1495.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239994,2000.0,12.0,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.621116,1300.500000,2545.250000
239995,2000.0,12.0,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.700268,1355.250000,1985.750000
239996,2000.0,12.0,NaN,NaN,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.693281,1340.250000,1985.750000
239997,2000.0,12.0,NaN,NaN,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.568141,1939.200000,3278.000000
239998,2000.0,12.0,NaN,NaN,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.550595,1908.400000,3313.600000

In [105]:
b

Int64Index([ 60166,  60205,  60284,  60286,  60290,  60298,  60362,  61166,
             61204,  61205,
            ...
            239288, 239309, 239312, 239313, 239332, 239453, 239611, 239615,
            239838, 239839],
           dtype='int64', length=2986)

In [92]:
a

Int64Index([ 24008,  24032,  24037,  24050,  24082,  24576,  24579,  24580,
             24584,  24603,
            ...
            239921, 239924, 239947, 239973, 239990, 239994, 239995, 239996,
            239997, 239998],
           dtype='int64', length=9029)

In [103]:
z=0
for x in b:
    if x in a:
        z=z+1

In [104]:
z

2969

In [14]:
final=final.drop("Unnamed: 0", axis=1)

In [114]:
final["route"]=final["ORIGIN"]+"."+final["DEST"]

In [11]:
final.iloc[900]

Unnamed: 0                   900
YEAR                        2019
MONTH                          1
DAY_OF_MONTH             16.0842
FL_DATE                      NaN
OP_UNIQUE_CARRIER            NaN
ORIGIN_AIRPORT_ID            NaN
ORIGIN                       LAX
ORIGIN_CITY_NAME             NaN
ORIGIN_STATE_NM              NaN
DEST_AIRPORT_ID              NaN
DEST                         DTW
DEST_CITY_NAME               NaN
DEST_STATE_NM                NaN
DEP_TIME                 1413.55
DEP_DELAY                6.79104
ARR_TIME                 1434.65
ARR_DELAY               -5.03535
CANCELLED              0.0049505
CANCELLATION_CODE            NaN
DIVERTED               0.0148515
CRS_ELAPSED_TIME         268.351
ACTUAL_ELAPSED_TIME      256.884
AIR_TIME                 229.556
DISTANCE                    1979
CARRIER_DELAY            7.42857
WEATHER_DELAY                  1
NAS_DELAY                18.5238
SECURITY_DELAY                 0
LATE_AIRCRAFT_DELAY       17.619
Unnamed: 29                  NaN
number_of_flights            202
loadfactor              0.784079
PASSENGERS               3928.25
SEATS                    4743.38
route                    LAX.DTW
Name: 900, dtype: object

In [13]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 36 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           240000 non-null  int64
 1   YEAR                 240000 non-null  float64
 2   MONTH                240000 non-null  float64
 3   DAY_OF_MONTH         230971 non-null  float64
 4   FL_DATE              0 non-null       float64
 5   OP_UNIQUE_CARRIER    0 non-null       float64
 6   ORIGIN_AIRPORT_ID    171989 non-null  float64
 7   ORIGIN               240000 non-null  object
 8   ORIGIN_CITY_NAME     0 non-null       float64
 9   ORIGIN_STATE_NM      0 non-null       float64
 10  DEST_AIRPORT_ID      171989 non-null  float64
 11  DEST                 240000 non-null  object
 12  DEST_CITY_NAME       0 non-null       float64
 13  DEST_STATE_NM        0 non-null       float64
 14  DEP_TIME             230943 non-null  float64
 15  DEP_DELAY            230943 non-null  float64
 16  ARR_TIME             230937 non-null  float64
 17  ARR_DELAY            230935 non-null  float64
 18  CANCELLED            230971 non-null  float64
 19  CANCELLATION_CODE    0 non-null       float64
 20  DIVERTED             230971 non-null  float64
 21  CRS_ELAPSED_TIME     230971 non-null  float64
 22  ACTUAL_ELAPSED_TIME  230935 non-null  float64
 23  AIR_TIME             230935 non-null  float64
 24  DISTANCE             230971 non-null  float64
 25  CARRIER_DELAY        192820 non-null  float64
 26  WEATHER_DELAY        192820 non-null  float64
 27  NAS_DELAY            192820 non-null  float64
 28  SECURITY_DELAY       192820 non-null  float64
 29  LATE_AIRCRAFT_DELAY  192820 non-null  float64
 30  Unnamed: 29          0 non-null       float64
 31  number_of_flights    231313 non-null  float64
 32  loadfactor           237014 non-null  float64
 33  PASSENGERS           237014 non-null  float64
 34  SEATS                237014 non-null  float64
 35  route                240000 non-null  object
dtypes: float64(32), int64(1), object(3)
memory usage: 65.9+ MB

In [127]:
finaltest=final[final["YEAR"]>2016]

In [128]:
finaltest.to_csv('desktop/flights data/on time performance/finaltest.csv')

In [124]:
final['FL_DATE'] = pd.to_datetime(final[['YEAR', 'MONTH']].assign(DAY=1))

In [125]:
final

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS,route
0,2019.0,1.0,16.616628,2019-01-01,NaN,NaN,CVG,NaN,NaN,NaN,...,2.451128,41.315789,0.0,25.631579,NaN,433.0,0.645097,1173.142857,1713.142857,CVG.ORD
1,2019.0,1.0,16.414508,2019-01-01,NaN,NaN,GNV,NaN,NaN,NaN,...,0.000000,8.142857,0.0,18.571429,NaN,193.0,0.873619,1986.000000,2378.166667,GNV.ATL
2,2019.0,1.0,16.631579,2019-01-01,NaN,NaN,ORD,NaN,NaN,NaN,...,15.640625,27.968750,0.0,40.828125,NaN,437.0,0.740607,1038.000000,1433.941176,ORD.CVG
3,2019.0,1.0,16.730627,2019-01-01,NaN,NaN,ATL,NaN,NaN,NaN,...,6.172414,9.000000,0.0,14.655172,NaN,271.0,0.792694,3869.500000,4820.750000,ATL.CHA
4,2019.0,1.0,16.730627,2019-01-01,NaN,NaN,CHA,NaN,NaN,NaN,...,19.578947,9.210526,0.0,22.684211,NaN,271.0,0.838213,4077.250000,4819.750000,CHA.ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,2000.0,12.0,NaN,2000-12-01,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.700268,1355.250000,1985.750000,DFW.MAF
239996,2000.0,12.0,NaN,2000-12-01,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.693281,1340.250000,1985.750000,MAF.DFW
239997,2000.0,12.0,NaN,2000-12-01,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.568141,1939.200000,3278.000000,DFW.LBB
239998,2000.0,12.0,NaN,2000-12-01,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.550595,1908.400000,3313.600000,LBB.DFW
239999,2000.0,12.0,16.000000,2000-12-01,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,NaN,NaN,NaN,93.0,0.490670,2169.000000,3881.000000,TPA.MIA

In [29]:
uniflight[uniflight["month1"]>100]

     ORIGIN DEST  month1  month2
3       CVG  ORD     433     404
4       GNV  ATL     193     176
5       ORD  CVG     437     405
6       ATL  CHA     271     252
8       CHA  ATL     271     252
...     ...  ...     ...     ...
5180    DFW  MAF     202     194
5181    MAF  DFW     201     194
5198    DFW  LBB     187     179
5199    LBB  DFW     186     179
5419    TPA  MIA     210     189

[1000 rows x 4 columns]

# finding the city of the stations

### city, town, village, hamlet and county have been considered as city respectively

In [19]:
station=pd.read_csv("desktop/precipitation data/stations.csv")

In [20]:
station

,StnID,Lat,Lon,Elev,State/Province,Name,WMO_ID,Sample_Interval (min),UTC_Offset,POR_Date_Range,PCT_POR_Good,Last_Half_POR,PCT_Last_Half_Good,Last_Qtr_POR,PCT_Last_Qtr_Good
0,USC00010008,31.5702,-85.2482,139.0,AL,ABBEVILLE,NaN,15,-6,19480601-20180418,83.60%,19830510-20180418,70.20%,20001028-20180418,65.80%
1,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,15,-6,19480601-20210107,85.70%,19840919-20210107,82.60%,20021113-20210107,74.00%
2,USC00010140,32.2322,-87.4104,53.3,AL,ALBERTA,NaN,15,-6,19630926-20201202,94.30%,19920429-20201202,91.90%,20060816-20201202,89.70%
3,USC00010252,31.3071,-86.5226,76.2,AL,ANDALUSIA 3 W,NaN,15,-6,19800301-20180205,89.10%,19990217-20180205,92.30%,20080812-20180205,97.50%
4,USC00010369,33.2941,-85.7788,311.5,AL,ASHLAND 3 ENE,NaN,15,-6,19480601-20130804,84.60%,19810101-20130804,81.40%,19970418-20130804,70.70%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,AQC00914594,-14.3333,-170.7667,42.4,AS,MALAELOA,NaN,15,-11,20190929-20210102,27.90%,20200516-20210102,55.20%,20200908-20210102,38.50%
1985,USC00914670,13.4619,144.6894,3.0,GU,PITI,NaN,15,10,19780701-20210108,71.60%,19991005-20210108,65.30%,20100523-20210108,72.40%
1986,CQC00914801,14.1717,145.2428,179.2,MP,ROTA AIRPORT,91221.0,15,10,19820601-20210101,61.00%,20010916-20210101,45.80%,20110510-20210101,48.80%
1987,CQC00914855,15.1167,145.7167,65.5,MP,SAIPAN INTL AP,91232.0,15,10,19790901-20210102,68.20%,20000502-20210102,51.50%,20100902-20210102,56.50%
1988,AQC00914902,-14.2728,-170.6922,80.8,AS,VAIPITO,NaN,15,-11,20200406-20210103,73.60%,20200820-20210103,80.30%,20201027-20210103,84.10%

In [2]:
pip install geopy

Collecting geopy
  Downloading geopy-2.1.0-py3-none-any.whl (112 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from geopy.geocoders import Nominatim

In [4]:
geolocator = Nominatim(user_agent="geoapiExercises")

In [81]:
len(station)

1989

In [51]:
station["city"]=np.nan

In [97]:
for i in range(1500,1989):
    Latitude =station["Lat"].iloc[i] 
    Longitude = station["Lon"].iloc[i] 
    location = geolocator.reverse(str(Latitude)+","+str(Longitude))
    address = location.raw['address']
    
    city = address.get('city', '')
    if not city:
        town = address.get('town', '')
        if not town:
            village = address.get('village', '')
            if not village:
                hamlet = address.get('hamlet', '')
                if not hamlet:
                    county = address.get('county', '')
                    station["city"].iloc[i]=county
                else:
                    station["city"].iloc[i]=hamlet      
            else:       
                station["city"].iloc[i]=village
        else:       
            station["city"].iloc[i]=town
    else:        
        station["city"].iloc[i]=city

C:\Users\ramin\anaconda3\envs\py36\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [103]:
station.to_csv("desktop/precipitation data/station.csv")

# Distance

In [107]:
import math

In [111]:
R = 6371.0
lat1 = math.radians(52.2296756)
lon1 = math.radians(21.0122287)
lat2 = math.radians(52.406374)
lon2 = math.radians(16.9251681)

dlon = lon2 - lon1
dlat = lat2 - lat1

a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
distance = R * c

In [112]:
print(distance)

278.4581750754194

In [208]:
airport.to_csv("desktop/flights data/airport.csv")

In [203]:
airport=pd.read_csv("desktop/flights data/airports.csv")

In [204]:
for i in range(len(airport)):
    Distance=[]
    Name=[]
    lat1 = math.radians(airport["LATITUDE"].iloc[i])
    lon1 = math.radians(airport["LONGITUDE"].iloc[i])
    state=airport["STATE"].iloc[i]
    df=station[station["State/Province"]==state]
    if df.empty==False:
        for n in range(len(df)):
            lat2 = math.radians(df["Lat"].iloc[n])
            lon2 = math.radians(df["Lon"].iloc[n])
            dlon = lon2 - lon1
            dlat = lat2 - lat1
            a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
            c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
            distance = R * c
            Name.append(df["Name"].iloc[n])
            Distance.append(distance)
            Min=min(Distance)
            index=Distance.index(Min)
        airport["distance"].iloc[i]=Min
        airport["station"].iloc[i]=Name[index]

In [209]:
airport["distance"].mean()

104.7047988146883

In [210]:
airport["distance"].std()

495.0207009945344

# Weather

I have used the precipitation data for an airport if the closest station is less than 30km away.

In [60]:
airport=pd.read_csv("desktop/flights data/airport.csv")

In [3]:
airport=airport[airport["distance"]<=30]

In [80]:
hub=["ANC", "PHX", "LAX", "OAK", "SAN", "SFO", "DEN", "MIA", "FLL", "MCO", "TPA", "ATL", "HNL", "OGG", "MDW", "ORD", "IND", "CVG", "SDF", "BWI", "BOS", "DTW", "MSP", "STL", "LAS", "EWR", "TTN", "JFK", "LGA", "CLT","GSO", "RDU", "CLE", "LUK", "DAY", "PDX", "PHL", "PIT", "CAE", "MEM", "BNA", "DFW", "DAL", "IAH", "SLC", "IAD", "DCA", "SEA"]

In [69]:
airport

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,station,distance,flights_to
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040,PEN ARGYL,28.788177,340.0
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190,ABILENE 6ESE,5.157424,170.0
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919,CORRALES,23.228897,1732.0
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183,COLUMBIA 8 N,31.833407,62.0
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447,CRISP CO POWER DAM,41.977643,84.0
...,...,...,...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982,MCCARTHY 3 SW,818.200704,62.0
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764,WEST YELLOWSTONE USFS,2.890132,0.0
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681,FAYETTEVILLE EXP STA,23.391757,1049.0
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023,MCCARTHY 3 SW,280.589304,60.0
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597,AJO,166.798292,115.0

In [98]:
final["hub"]=np.nan

In [100]:
for i in range(50000, 240000):
    if final["DEST"].iloc[i] in hub:
        final["hub"].iloc[i]=1
    else:
        final["hub"].iloc[i]=0

I need to remove the negative precipitiation data. They resulted because some daily sums were -9999 that shows missing data. I should have removed those datapoints in the begining before calculating the monthly amounts but I forgot so now I need to remove the negative monthly precipitations.

The precipitation is in hundredth of inch

In [5]:
rain=pd.read_csv("desktop/precipitation data/rain.csv")

In [116]:
#index=rain[rain["average precipitation"]<0].index

In [117]:
#for i in index:
   # rain["average precipitation"].iloc[i]=np.nan

C:\Users\ramin\anaconda3\envs\py36\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
rain

                 ID     DATE  average precipitation       name state
0       USC00010008  1990-01              19.677420  ABBEVILLE    AL
1       USC00010008  1990-02              14.285714  ABBEVILLE    AL
2       USC00010008  1990-03              21.290323  ABBEVILLE    AL
3       USC00010008  1990-04               5.666666  ABBEVILLE    AL
4       USC00010008  1990-05              11.290322  ABBEVILLE    AL
...             ...      ...                    ...        ...   ...
650418  AQC00914902  2020-08              67.285710    VAIPITO    AS
650419  AQC00914902  2020-09              81.500000    VAIPITO    AS
650420  AQC00914902  2020-10              51.700000    VAIPITO    AS
650421  AQC00914902  2020-11              88.047620    VAIPITO    AS
650422  AQC00914902  2020-12              57.233334    VAIPITO    AS

[650423 rows x 5 columns]

In [124]:
rain.to_csv("desktop/precipitation data/rain.csv")

In [11]:
import datetime as datetime

In [69]:
for i in range(len(rain)):
    rain["DATE"].iloc[i]='{:%Y-%m}'.format(datetime.strptime(rain["DATE"].iloc[i], "%m/%d/%Y"))

C:\Users\ramin\anaconda3\envs\py36\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
for i in range(len(final)):
    final["FL_DATE"].iloc[i]='{:%Y-%m}'.format(datetime.strptime(final["FL_DATE"].iloc[i], "%Y-%m-%d"))

In [64]:
final=pd.read_csv('desktop/flights data/on time performance/final2.csv')

In [14]:
final=final.drop("Unnamed: 0", axis=1)

In [145]:
final

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS,route,origin_precipitaion,dest_precipitaion,hub
0,2019.0,1.0,16.616628,2019-01,NaN,NaN,CVG,NaN,NaN,NaN,...,25.631579,NaN,433.0,0.645097,1173.142857,1713.142857,CVG.ORD,NaN,7.580645,1.0
1,2019.0,1.0,16.414508,2019-01,NaN,NaN,GNV,NaN,NaN,NaN,...,18.571429,NaN,193.0,0.873619,1986.000000,2378.166667,GNV.ATL,NaN,NaN,1.0
2,2019.0,1.0,16.631579,2019-01,NaN,NaN,ORD,NaN,NaN,NaN,...,40.828125,NaN,437.0,0.740607,1038.000000,1433.941176,ORD.CVG,7.580645,NaN,1.0
3,2019.0,1.0,16.730627,2019-01,NaN,NaN,ATL,NaN,NaN,NaN,...,14.655172,NaN,271.0,0.792694,3869.500000,4820.750000,ATL.CHA,NaN,NaN,0.0
4,2019.0,1.0,16.730627,2019-01,NaN,NaN,CHA,NaN,NaN,NaN,...,22.684211,NaN,271.0,0.838213,4077.250000,4819.750000,CHA.ATL,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,0.700268,1355.250000,1985.750000,DFW.MAF,11.935484,NaN,0.0
239996,2000.0,12.0,NaN,2000-12,NaN,NaN,MAF,NaN,NaN,NaN,...,NaN,NaN,NaN,0.693281,1340.250000,1985.750000,MAF.DFW,NaN,11.935484,1.0
239997,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,NaN,NaN,...,NaN,NaN,NaN,0.568141,1939.200000,3278.000000,DFW.LBB,11.935484,0.000000,0.0
239998,2000.0,12.0,NaN,2000-12,NaN,NaN,LBB,NaN,NaN,NaN,...,NaN,NaN,NaN,0.550595,1908.400000,3313.600000,LBB.DFW,0.000000,11.935484,1.0
239999,2000.0,12.0,16.000000,2000-12,NaN,15304.0,TPA,NaN,NaN,13303.0,...,NaN,NaN,93.0,0.490670,2169.000000,3881.000000,TPA.MIA,2.580645,16.363636,1.0

In [248]:
#final["origin_precipitaion"]=np.nan
#final["dest_precipitaion"]=np.nan

In [143]:
for i in range(200000, 240000):
    originstation=""
    deststation=""
    origin_rain=np.nan
    dest_rain=np.nan
    origin=final["ORIGIN"].iloc[i]
    dest=final["DEST"].iloc[i]
    for index, x in enumerate(airport["IATA_CODE"]):
        if x==origin:
            originstation=airport["station"].iloc[index]
        if x==dest:
            deststation=airport["station"].iloc[index]
    if not originstation==False:
        rain1=rain[(rain["name"]==originstation)&(rain["DATE"]==final["FL_DATE"].iloc[i])]
        if rain1.empty==False:
            origin_rain=rain1["average precipitation"].iloc[0]
    if not deststation==False:
        rain2=rain[(rain["name"]==deststation)&(rain["DATE"]==final["FL_DATE"].iloc[i])]
        if rain2.empty==False:
            dest_rain=rain2["average precipitation"].iloc[0]
    final["origin_precipitaion"].iloc[i]=origin_rain
    final["dest_precipitaion"].iloc[i]=dest_rain

In [144]:
final.to_csv('desktop/flights data/on time performance/final2.csv')

In [123]:
a=final[final["origin_precipitaion"].notnull()]

In [124]:
b=a[a["dest_precipitaion"].notnull()]

In [127]:
b

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,...,LATE_AIRCRAFT_DELAY,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS,route,origin_precipitaion,dest_precipitaion,hub
30,2019.0,1.0,16.140523,2019-01,NaN,NaN,DFW,NaN,NaN,NaN,...,20.528302,NaN,306.0,0.785506,2720.272727,3518.545455,DFW.DTW,5.838710,15.450000,1.0
31,2019.0,1.0,16.091205,2019-01,NaN,NaN,DTW,NaN,NaN,NaN,...,22.338710,NaN,307.0,0.829973,2685.636364,3505.818182,DTW.DFW,15.450000,5.838710,1.0
38,2019.0,1.0,16.296578,2019-01,NaN,NaN,DTW,NaN,NaN,NaN,...,43.037037,NaN,526.0,0.614556,1837.687500,2852.250000,DTW.ORD,15.450000,7.580645,1.0
49,2019.0,1.0,17.221106,2019-01,NaN,NaN,MSP,NaN,NaN,NaN,...,11.884615,NaN,199.0,0.676605,1433.727273,2169.181818,MSP.STL,1.193548,11.161290,1.0
51,2019.0,1.0,17.201005,2019-01,NaN,NaN,STL,NaN,NaN,NaN,...,22.450000,NaN,199.0,0.695527,1311.583333,2015.583333,STL.MSP,11.161290,1.193548,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156480,2006.0,1.0,16.030151,2006-01,NaN,10397.0,ATL,NaN,NaN,10693.0,...,22.580000,NaN,199.0,0.877050,4613.750000,5824.000000,ATL.BNA,0.000000,24.225807,1.0
156482,2006.0,1.0,16.000000,2006-01,NaN,10397.0,ATL,NaN,NaN,10821.0,...,41.946903,NaN,504.0,0.704471,5856.250000,8460.500000,ATL.BWI,0.000000,10.645162,1.0
156483,2006.0,1.0,15.920000,2006-01,NaN,10397.0,ATL,NaN,NaN,11042.0,...,31.072464,NaN,325.0,0.726421,3262.600000,4990.800000,ATL.CLE,0.000000,5.000000,1.0
156484,2006.0,1.0,16.035714,2006-01,NaN,10397.0,ATL,NaN,NaN,11066.0,...,38.684211,NaN,168.0,0.670819,8388.000000,11795.000000,ATL.CMH,0.000000,9.677420,0.0
156485,2006.0,1.0,NaN,2006-01,NaN,NaN,ATL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ATL.DAL,0.000000,6.129032,1.0

In [128]:
c=b[b["loadfactor"].notnull()]

In [121]:
from scipy.stats import pearsonr

In [129]:
pearsonr(c["loadfactor"], c["origin_precipitaion"])

(0.005481883215385362, 0.2636028098980808)

In [137]:
np.corrcoef(c["dest_precipitaion"], c["origin_precipitaion"])

array([[1.        , 0.07752718],
       [0.07752718, 1.        ]])

# competetive routes

In [26]:
uniflight=pd.read_csv('desktop/flights data/on time performance/uniflight.main.csv')

In [27]:
uniflight=uniflight[uniflight['month1']>=177]

In [28]:
uniflight["competetive"]=np.nan

In [29]:
uniflight["competetive"]=uniflight["ORIGIN"]+"."+uniflight["DEST"]

In [55]:
uniflight

     ORIGIN DEST  month1  month2 competetive
3       CVG  ORD     433     404     CVG.ORD
4       GNV  ATL     193     176     GNV.ATL
5       ORD  CVG     437     405     ORD.CVG
6       ATL  CHA     271     252     ATL.CHA
8       CHA  ATL     271     252     CHA.ATL
...     ...  ...     ...     ...         ...
5180    DFW  MAF     202     194     DFW.MAF
5181    MAF  DFW     201     194     MAF.DFW
5198    DFW  LBB     187     179     DFW.LBB
5199    LBB  DFW     186     179     LBB.DFW
5419    TPA  MIA     210     189     TPA.MIA

[1000 rows x 5 columns]

In [56]:
com=uniflight[uniflight["month1"]>400]

In [57]:
com

     ORIGIN DEST  month1  month2 competetive
3       CVG  ORD     433     404     CVG.ORD
5       ORD  CVG     437     405     ORD.CVG
109     DTW  ORD     526     500     DTW.ORD
134     LGA  CLT     494     452     LGA.CLT
188     BOS  JFK     522     477     BOS.JFK
...     ...  ...     ...     ...         ...
4875    LIH  HNL     541     483     LIH.HNL
4876    OGG  HNL     826     745     OGG.HNL
4877    HNL  OGG     826     745     HNL.OGG
4878    KOA  HNL     521     456     KOA.HNL
4879    HNL  KOA     521     455     HNL.KOA

[182 rows x 5 columns]

In [58]:
comroutes=com["competetive"].tolist()

In [47]:
final["competetive"]=np.nan

In [59]:
for i in range(len(final)):
    if final["route"].iloc[i] in comroutes:
        final["competetive"].iloc[i]=1
    else:
        final["competetive"].iloc[i]=0

C:\Users\ramin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [62]:
final

,Unnamed: 0,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,...,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS,route,origin_precipitaion,dest_precipitaion,hub,competetive
0,0,2019.0,1.0,16.616628,2019-01,NaN,NaN,CVG,NaN,NaN,...,NaN,433.0,0.645097,1173.142857,1713.142857,CVG.ORD,NaN,7.580645,1.0,1.0
1,1,2019.0,1.0,16.414508,2019-01,NaN,NaN,GNV,NaN,NaN,...,NaN,193.0,0.873619,1986.000000,2378.166667,GNV.ATL,NaN,NaN,1.0,0.0
2,2,2019.0,1.0,16.631579,2019-01,NaN,NaN,ORD,NaN,NaN,...,NaN,437.0,0.740607,1038.000000,1433.941176,ORD.CVG,7.580645,NaN,1.0,1.0
3,3,2019.0,1.0,16.730627,2019-01,NaN,NaN,ATL,NaN,NaN,...,NaN,271.0,0.792694,3869.500000,4820.750000,ATL.CHA,NaN,NaN,0.0,0.0
4,4,2019.0,1.0,16.730627,2019-01,NaN,NaN,CHA,NaN,NaN,...,NaN,271.0,0.838213,4077.250000,4819.750000,CHA.ATL,NaN,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,239995,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,NaN,...,NaN,NaN,0.700268,1355.250000,1985.750000,DFW.MAF,11.935484,NaN,0.0,0.0
239996,239996,2000.0,12.0,NaN,2000-12,NaN,NaN,MAF,NaN,NaN,...,NaN,NaN,0.693281,1340.250000,1985.750000,MAF.DFW,NaN,11.935484,1.0,0.0
239997,239997,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,NaN,...,NaN,NaN,0.568141,1939.200000,3278.000000,DFW.LBB,11.935484,0.000000,0.0,0.0
239998,239998,2000.0,12.0,NaN,2000-12,NaN,NaN,LBB,NaN,NaN,...,NaN,NaN,0.550595,1908.400000,3313.600000,LBB.DFW,0.000000,11.935484,1.0,0.0
239999,239999,2000.0,12.0,16.000000,2000-12,NaN,15304.0,TPA,NaN,NaN,...,NaN,93.0,0.490670,2169.000000,3881.000000,TPA.MIA,2.580645,16.363636,1.0,0.0

In [61]:
final.to_csv("desktop/flights data/on time performance/final2.csv")

In [70]:
final["origin_precipitaion"].mean()

9.85460443542154

In [95]:
b=final[final["dest_precipitaion"].notnull()]

In [96]:
b

,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,loadfactor,PASSENGERS,SEATS,route,origin_precipitaion,dest_precipitaion,hub,competetive,origin_level,dest_level
0,0,0,2019.0,1.0,16.616628,2019-01,NaN,NaN,CVG,NaN,...,0.645097,1173.142857,1713.142857,CVG.ORD,NaN,7.580645,1.0,1.0,NaN,NaN
7,7,7,2019.0,1.0,16.173375,2019-01,NaN,NaN,JFK,NaN,...,0.743104,1819.555556,2449.222222,JFK.RDU,NaN,11.032258,1.0,0.0,NaN,NaN
10,10,10,2019.0,1.0,16.597938,2019-01,NaN,NaN,BOS,NaN,...,0.756999,2371.571429,3189.714286,BOS.BNA,NaN,16.935484,1.0,0.0,NaN,NaN
11,11,11,2019.0,1.0,15.516529,2019-01,NaN,NaN,EWR,NaN,...,0.762989,2057.600000,2790.000000,EWR.RDU,NaN,11.032258,1.0,0.0,NaN,NaN
14,14,14,2019.0,1.0,16.211618,2019-01,NaN,NaN,PHL,NaN,...,0.680447,1397.615385,2168.538462,PHL.DTW,NaN,15.450000,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239993,239993,239993,2000.0,12.0,16.030303,2000-12,NaN,13303.0,MIA,NaN,...,0.771268,2818.333333,3791.000000,MIA.CLT,16.363636,4.193548,1.0,0.0,high,NaN
239996,239996,239996,2000.0,12.0,NaN,2000-12,NaN,NaN,MAF,NaN,...,0.693281,1340.250000,1985.750000,MAF.DFW,NaN,11.935484,1.0,0.0,NaN,NaN
239997,239997,239997,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,...,0.568141,1939.200000,3278.000000,DFW.LBB,11.935484,0.000000,0.0,0.0,high,NaN
239998,239998,239998,2000.0,12.0,NaN,2000-12,NaN,NaN,LBB,NaN,...,0.550595,1908.400000,3313.600000,LBB.DFW,0.000000,11.935484,1.0,0.0,low,NaN
239999,239999,239999,2000.0,12.0,16.000000,2000-12,NaN,15304.0,TPA,NaN,...,0.490670,2169.000000,3881.000000,TPA.MIA,2.580645,16.363636,1.0,0.0,low,NaN

In [97]:
b["dest_precipitaion"].mean()

9.855254784465187

In [99]:
b[b["dest_precipitaion"]>10]

,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,loadfactor,PASSENGERS,SEATS,route,origin_precipitaion,dest_precipitaion,hub,competetive,origin_level,dest_level
7,7,7,2019.0,1.0,16.173375,2019-01,NaN,NaN,JFK,NaN,...,0.743104,1819.555556,2449.222222,JFK.RDU,NaN,11.032258,1.0,0.0,NaN,NaN
10,10,10,2019.0,1.0,16.597938,2019-01,NaN,NaN,BOS,NaN,...,0.756999,2371.571429,3189.714286,BOS.BNA,NaN,16.935484,1.0,0.0,NaN,NaN
11,11,11,2019.0,1.0,15.516529,2019-01,NaN,NaN,EWR,NaN,...,0.762989,2057.600000,2790.000000,EWR.RDU,NaN,11.032258,1.0,0.0,NaN,NaN
14,14,14,2019.0,1.0,16.211618,2019-01,NaN,NaN,PHL,NaN,...,0.680447,1397.615385,2168.538462,PHL.DTW,NaN,15.450000,1.0,0.0,NaN,NaN
24,24,24,2019.0,1.0,16.435233,2019-01,NaN,NaN,ATL,NaN,...,0.792201,1657.555556,2067.777778,ATL.LEX,NaN,12.774194,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239991,239991,239991,2000.0,12.0,16.000000,2000-12,NaN,12892.0,LAX,NaN,...,0.817051,5119.500000,6354.333333,LAX.MIA,0.000000,16.363636,1.0,0.0,low,NaN
239992,239992,239992,2000.0,12.0,16.178571,2000-12,NaN,10721.0,BOS,NaN,...,0.808040,5443.400000,6676.000000,BOS.MIA,NaN,16.363636,1.0,0.0,NaN,NaN
239996,239996,239996,2000.0,12.0,NaN,2000-12,NaN,NaN,MAF,NaN,...,0.693281,1340.250000,1985.750000,MAF.DFW,NaN,11.935484,1.0,0.0,NaN,NaN
239998,239998,239998,2000.0,12.0,NaN,2000-12,NaN,NaN,LBB,NaN,...,0.550595,1908.400000,3313.600000,LBB.DFW,0.000000,11.935484,1.0,0.0,low,NaN
239999,239999,239999,2000.0,12.0,16.000000,2000-12,NaN,15304.0,TPA,NaN,...,0.490670,2169.000000,3881.000000,TPA.MIA,2.580645,16.363636,1.0,0.0,low,NaN

In [78]:
a[a["origin_precipitaion"]>10]

,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,Unnamed: 29,number_of_flights,loadfactor,PASSENGERS,SEATS,route,origin_precipitaion,dest_precipitaion,hub,competetive
12,12,12,2019.0,1.0,15.551867,2019-01,NaN,NaN,RDU,NaN,...,NaN,241.0,0.623564,1815.000000,2930.800000,RDU.EWR,11.032258,NaN,1.0,0.0
19,19,19,2019.0,1.0,15.368852,2019-01,NaN,NaN,DTW,NaN,...,NaN,244.0,0.707525,1706.900000,2640.200000,DTW.EWR,15.450000,NaN,1.0,0.0
27,27,27,2019.0,1.0,16.708995,2019-01,NaN,NaN,MGM,NaN,...,NaN,189.0,0.614088,2390.000000,3158.333333,MGM.ATL,15.709678,NaN,1.0,0.0
31,31,31,2019.0,1.0,16.091205,2019-01,NaN,NaN,DTW,NaN,...,NaN,307.0,0.829973,2685.636364,3505.818182,DTW.DFW,15.450000,5.838710,1.0,0.0
33,33,33,2019.0,1.0,16.494792,2019-01,NaN,NaN,LEX,NaN,...,NaN,192.0,0.712221,1872.125000,2312.750000,LEX.ATL,12.774194,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239989,239989,239989,2000.0,12.0,16.019169,2000-12,NaN,11298.0,DFW,NaN,...,NaN,313.0,0.856228,7148.333333,8524.500000,DFW.MCO,11.935484,5.000000,1.0,0.0
239993,239993,239993,2000.0,12.0,16.030303,2000-12,NaN,13303.0,MIA,NaN,...,NaN,165.0,0.771268,2818.333333,3791.000000,MIA.CLT,16.363636,4.193548,1.0,0.0
239994,239994,239994,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,...,NaN,NaN,0.621116,1300.500000,2545.250000,DFW.SGF,11.935484,NaN,0.0,0.0
239995,239995,239995,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,...,NaN,NaN,0.700268,1355.250000,1985.750000,DFW.MAF,11.935484,NaN,0.0,0.0
239997,239997,239997,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,...,NaN,NaN,0.568141,1939.200000,3278.000000,DFW.LBB,11.935484,0.000000,0.0,0.0

In [136]:
final

,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,number_of_flights,loadfactor,PASSENGERS,SEATS,route,origin_precipitaion,dest_precipitaion,hub,competetive,load_level
0,0,0,2019.0,1.0,16.616628,2019-01,NaN,NaN,CVG,NaN,...,433.0,0.645097,1173.142857,1713.142857,CVG.ORD,NaN,7.580645,1.0,1.0,low
1,1,1,2019.0,1.0,16.414508,2019-01,NaN,NaN,GNV,NaN,...,193.0,0.873619,1986.000000,2378.166667,GNV.ATL,NaN,NaN,1.0,0.0,high
2,2,2,2019.0,1.0,16.631579,2019-01,NaN,NaN,ORD,NaN,...,437.0,0.740607,1038.000000,1433.941176,ORD.CVG,7.580645,NaN,1.0,1.0,low
3,3,3,2019.0,1.0,16.730627,2019-01,NaN,NaN,ATL,NaN,...,271.0,0.792694,3869.500000,4820.750000,ATL.CHA,NaN,NaN,0.0,0.0,low
4,4,4,2019.0,1.0,16.730627,2019-01,NaN,NaN,CHA,NaN,...,271.0,0.838213,4077.250000,4819.750000,CHA.ATL,NaN,NaN,1.0,0.0,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,239995,239995,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,...,NaN,0.700268,1355.250000,1985.750000,DFW.MAF,11.935484,NaN,0.0,0.0,low
239996,239996,239996,2000.0,12.0,NaN,2000-12,NaN,NaN,MAF,NaN,...,NaN,0.693281,1340.250000,1985.750000,MAF.DFW,NaN,11.935484,1.0,0.0,low
239997,239997,239997,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,...,NaN,0.568141,1939.200000,3278.000000,DFW.LBB,11.935484,0.000000,0.0,0.0,low
239998,239998,239998,2000.0,12.0,NaN,2000-12,NaN,NaN,LBB,NaN,...,NaN,0.550595,1908.400000,3313.600000,LBB.DFW,0.000000,11.935484,1.0,0.0,low
239999,239999,239999,2000.0,12.0,16.000000,2000-12,NaN,15304.0,TPA,NaN,...,93.0,0.490670,2169.000000,3881.000000,TPA.MIA,2.580645,16.363636,1.0,0.0,low

In [137]:
final.to_csv("desktop/flights data/on time performance/final2.csv")

In [131]:
final["load_level"]=np.nan

In [132]:
for i in range(len(final)):
    if pd.isnull(final["loadfactor"].iloc[i])==False:
        if final["loadfactor"].iloc[i]>0.85:
            final["load_level"].iloc[i]="high"
        else:
            final["load_level"].iloc[i]="low"

C:\Users\ramin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [109]:
final["loadfactor"].min()

0.0

In [125]:
final[final["loadfactor"]<0.65]

,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,PASSENGERS,SEATS,route,origin_precipitaion,dest_precipitaion,hub,competetive,origin_level,dest_level,load_level
0,0,0,2019.0,1.0,16.616628,2019-01,NaN,NaN,CVG,NaN,...,1173.142857,1713.142857,CVG.ORD,NaN,7.580645,1.0,1.0,NaN,low,low
5,5,5,2019.0,1.0,17.097187,2019-01,NaN,NaN,CLE,NaN,...,2101.000000,4247.400000,CLE.LGA,NaN,NaN,1.0,0.0,NaN,NaN,low
8,8,8,2019.0,1.0,16.702439,2019-01,NaN,NaN,LGA,NaN,...,2142.750000,3380.500000,LGA.CVG,NaN,NaN,1.0,0.0,NaN,NaN,low
12,12,12,2019.0,1.0,15.551867,2019-01,NaN,NaN,RDU,NaN,...,1815.000000,2930.800000,RDU.EWR,11.032258,NaN,1.0,0.0,high,NaN,low
20,20,20,2019.0,1.0,16.711443,2019-01,NaN,NaN,MCI,NaN,...,1481.000000,2664.222222,MCI.MSP,NaN,1.193548,1.0,0.0,NaN,low,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239990,239990,239990,2000.0,12.0,NaN,2000-12,NaN,NaN,SGF,NaN,...,1354.000000,2562.250000,SGF.DFW,NaN,11.935484,1.0,0.0,NaN,high,low
239994,239994,239994,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,...,1300.500000,2545.250000,DFW.SGF,11.935484,NaN,0.0,0.0,high,NaN,low
239997,239997,239997,2000.0,12.0,NaN,2000-12,NaN,NaN,DFW,NaN,...,1939.200000,3278.000000,DFW.LBB,11.935484,0.000000,0.0,0.0,high,low,low
239998,239998,239998,2000.0,12.0,NaN,2000-12,NaN,NaN,LBB,NaN,...,1908.400000,3313.600000,LBB.DFW,0.000000,11.935484,1.0,0.0,low,high,low
239999,239999,239999,2000.0,12.0,16.000000,2000-12,NaN,15304.0,TPA,NaN,...,2169.000000,3881.000000,TPA.MIA,2.580645,16.363636,1.0,0.0,low,high,low

In [140]:
final["origin_precipitaion"].median()

7.096774000000001